<div id="help-module">
  <h2>How to Use:</h2>
  <p>Tap/click one of the modes on the outside of the wheel to select a root mode.</p>
  <p>Tap/click one of sections on the inside of the wheel to display chord information, relative to the root mode.</p>
  <p>Each selection will update the mode/note/chord information displayed at the top of this page.</p>
</div>
