<div  id="top-module">
  <div id="mode-module">
    <div class="row" id="modename-div">
      <div class="col" id="modename">title here</div>
    </div>
    <div class="row" id="tagline-div">
      <div class="col" id="tagline">tagline here</div>
    </div>
    <div class="row" id="notes-div">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" id="note-number-1">1</div>
      <div class="col" id="note-number-2">2</div>
      <div class="col" id="note-number-3">3</div>
      <div class="col" id="note-number-4">4</div>
      <div class="col" id="note-number-5">5</div>
      <div class="col" id="note-number-6">6</div>
      <div class="col" id="note-number-7">7</div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
  <div id="chord-module">
    <div class="row" id="scale-degree-row">
      <div class="col-5 chord-module-title">Scale Degree:</div>
      <div class="col-5" id="scale-degree">1</div>
      <div class="col-2"></div>
    </div>
    <div class="row" id="seventh-chord-row">
      <div class="col-5 chord-module-title">7th Chord:</div>
      <div class="col-5" id="seventh-chord">Maj7</div>
      <div class="col-2"></div>
    </div>
    <div class="row" id="chordscale-row">
      <div class="col-5 chord-module-title">Chord Scale:</div>
      <div class="col-5" id="chordscale">Ionian</div>
      <div class="col-2"></div>
    </div>
    <div class="row" id="tensions-row">
      <div class="col-5 chord-module-title">Tensions:</div>
      <div class="col-2" id="tension-ninth">9</div>
      <div class="col-2" id="tension-eleventh">11</div>
      <div class="col-2" id="tension-thirteenth">13</div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
