html {
  width:100vw;
  height: 100vh;
  user-select: none;
}

@media (max-width: 575.98px) {
  #top-module{
    font-size: 18px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    max-height: 40vh;
  }

  #bottom-module {
    margin: auto;
    text-align: center;
    max-height: 60vh;
    font-size:16px;
  }
}

@media (min-width:575.99px) and (max-width: 767.98px) {
  #top-module{
    font-size: 14px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    max-height: 40vh;

  }
  #bottom-module {
    margin: auto;
    text-align: center;
    max-height: 60vh;
    font-size:16px;
  }
}

@media (min-width:767.99px) and (max-width: 991.98px) {
  #top-module{
    font-size: 16px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    max-height: 40vh;
  }
  #bottom-module {
    margin: auto;
    text-align: center;
    max-height: 60vh;
    font-size:16px;
  }
}

@media (min-width: 991.99px) and (max-width: 1199.98px) {
  #top-module{
    font-size: 16px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    max-height: 40vh;
  }
  #bottom-module {
    margin: auto;
    text-align: center;
    max-height: 60vh;
    font-size:14px;
  }
}

@media (min-width:1199.99px) and (max-width: 1399.98px) {
  #top-module{
    font-size: 14px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    max-height: 40vh;
  }
  #bottom-module {
    margin: auto;
    text-align: center;
    max-height: 60vh;
    font-size:16px;
  }
}

@media (min-width: 1399.99px) {
  #top-module{
    font-size: 20px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    max-height: 40vh;
  }
  #bottom-module {
    margin: auto;
    text-align: center;
    max-height: 60vh;
    font-size:16px;
  }
}

body {
  line-height: 1.2;
}

/*
Parameters for the top half of the page
#top-module{
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  max-height: 40vh;
}
*/

#mode-module{
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

#chord-module{
  text-align: left;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  /*visibility: collapse; /* Remove later. This is hidden just for demo purposes */
}


/*
Text fields from top module
*/

/* ID used for the mode name in the top module */
#modename {

  font-size: 2em;
  font-weight: bold;
  margin-top: 0rem;
}

/* ID used for the tagline in the top module */
#tagline{
  font-size: 1.2em;
}

/* ID used for row containing the different notes of the mode */
#notes-div {
  font-size: 1.8em;
  font-weight: bold;
}

/* Left column of chord section of top module; contains title scale degree, tensions, etc. */
.chord-module-title {
  text-align: right;
  font-size: 1.3em;
}

/* Right column */
.chord-module-content {
  font-size: 1.3em;
}

/* Seventh chord uses a serif font to help legibility of Roman numerals */
#seventh-chord {
  font-family:monospace;
}

pre {
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  margin: auto;
}

/*
Style for bottom half of page below
*/

/*
Since the wheel's viewbox should be a perfect square,
limiting the width to a percentage of the view height will also fix
the height of the SVG
*/


#wheel{
  max-height:60vh;
}

textPath {
  text-align: center;
  text-anchor:middle;
  startOffset:50%;
  stroke-width:0;
  fill:black;
}

.modetext {
  font-size: 0.31em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  stroke-width:0;
  fill:black;
  text-anchor:middle;
  dominant-baseline:middle;
  text-align: center;
}

.chordtext {
  font-size: 0.32em;
  font-family: monospace;
  font-weight: light;
  stroke-width:0;
  fill:black;
  text-anchor:middle;
  dominant-baseline:middle;
  text-align: center;
}

.intervaltext{
  font-size: 0.34em;
  text-anchor:middle;
  dominant-baseline:middle;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  stroke-width:0;
  fill:white;
}

.div-selected {
  stroke-width:2px;
  stroke: white;
}

.div-unselected {
  stroke-width:1px;
  stroke: black;
}

roman {
  font-family: serif;
}
